/* agar ye className nhi hua kisi ka .Person to ye global ho jaega  */
/* or ise import karna hoga person.js me obvious h par app.js me nhi kyuki vo webpack dekh lega */
.Person{
    margin: auto;
    padding: 10px;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    width: 60%;
    /* height:300px; */
    /* background-color:bisque; */
    /* border-radius: 2px 2px 2px 2px black; */

}